@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus{
   outline: none;
}
input{
   background-color: inherit;
}
input[type='number']::-webkit-inner-spin-button{
   display: none;
}